body{
    font-family: 'Baloo Tammudu 2', cursive;
}

.content h1{
    
        text-align: center;
        padding:30px;
        padding-bottom: 0;
        text-shadow: 1px 1px #2a9df4;
    
}

.content h2{
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    text-align: center; 
}

.content a:hover{
    color: #2a9df4;
}

.buttons{
    justify-content: center;
}

.btn{
    border:black solid 2px;
    border-radius: 5px;
    margin:10px;
    padding:10px;
    box-shadow: 5px 5px 10px grey;
    background-color: white;
    
}

.link{
    text-decoration: none;
    color:darkblue;
}
nav li{
    list-style: none;
    margin:10px;
}

nav ul{
    margin:0px;
}

nav a{
    text-decoration: none;
    color:black;
    font-size:15px;
}

nav a:hover, nav li.active a {
    color:#2a9df4;
    font-weight: bold;
}

nav li.active a{
    text-decoration: underline darkblue;
}


footer{
    background: #eeeeee;
}

footer .social-media-links a{
    color:darkblue;
    background:white;
    padding:10px 15px;
    border-radius:50%;
    box-shadow: 5px 5px 10px grey;
}

footer .social-media-links a:hover{
    color:white;
    background-color: darkblue;
}


p, a{
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    text-align: center;
}


h2{
    font-family: 'Redressed', cursive;
    text-align: center;
    font-size: 40px;
}

h3{
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    text-align: center;   
}


@media(min-width:768px){
.my-description{
    font-size: large;
    padding: 20px;
}
}

@media(max-width:576px){
    footer .social-media-links a{
        font-size: small;
        padding:5px 9px;
    }
}