body{
    font-family: 'Baloo Tammudu 2', cursive;
}

nav li{
    list-style: none;
    margin:10px;
}

nav ul{
    margin:0px;
}

nav a{
    text-decoration: none;
    color:black;
    font-size:15px;
}

nav a:hover, nav li.active a {
    color:#2a9df4;
    font-weight: bold;
}

nav li.active a{
    text-decoration: underline darkblue;
}


#about-section{
    height:300px;
}

#first-about-section{
    background-color:#f5e6dc;
    padding-top:70px;
    padding-bottom: 25px;
}

#second-about-section{
    padding-top:150px;
    padding-bottom: 250px;
    padding-left:250px;
    
}

#myself{
    background-color:#F4ECE6;
    height: 400px;
    width: 300px;
    box-shadow: 5px 5px 20px grey;
    margin-left:70%;
}

#my-photo{
    height:280px;
    width:200px;
}

#break{
    width: 50%;
    margin:auto;
}

.btn {
padding-top: 13px;

}
#resume-button{
    margin-right: 15px;
    background-color: #2a9df4;
    border:1px solid darkblue;
}
#projects-button{
    color:#2a9df4;
    border: 1px solid #2a9df4;
}

#description{
    margin-top:25px;
    opacity:0.9;
    text-align: justify;
    width: 80%;
}

#social{
    background-color: white;
    height: 50px;
    width: 300px;
    margin-left:70%;
    box-shadow: 5px 5px 20px grey;
}

#social-media-links a{
    color:darkblue;
    border-radius:50%;
}

span{
    color:darkblue;
}

@media (min-width: 576px) and (max-width: 767.98px){
    #first-about-section{
        padding:0;
        margin:0;}
    #myself{
        margin:0;
        width:100%;
        margin-top:150px;
        padding:0;
        margin-left:20px;
    }
    #my-photo{
        height:200px;
        width:135px;
    }
    #social{
        margin:0;
        width:100%;
        margin-bottom: 150px;
        margin-top:-50px;
        margin-left: 20px;
    }
    #second-about-section{
        margin:0;
        padding:0;
        padding-left: 50px;
        margin-top:200px;
    }
    }

    @media (max-width: 576px){
        #first-about-section{
            padding:0;
            margin:0;
            max-height: 100%;}
        #myself{
            margin:0;
            width:100%;
            padding:0;
        }
        #my-photo{
            height:200px;
            width:135px;
        }
        #social{
    
            width:80%;
            margin-bottom: 150px;
            margin-top:-50px;
            margin-left: auto;
            margin-right: auto;
        }
        #second-about-section{
            margin:0;
            padding:0;
            margin-top:150px;
            text-align: center;
        }
        #description{
            text-align: center;
            margin:0  auto;
            padding-top:15px;
        }
        }


